@media (max-width: 1400px) {
    .wrapper {
        max-width: 1050px;
    }
}

@media (max-width: 1050px) {
    .wrapper {
        max-width: 700px;
    }
}

@media (max-width: 700px) {
    .wrapper {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .wrapper {
        padding: 80px 15px;
    }
}